.profile {
  padding-top: 150px;
  height: 50vh;
  background-color: #83ccfd;
}

.profile .me {
  position: relative;
}

.profile .me h1 {
  font-size: 80px;
  font-weight: 700;
  /* background-color: red; */
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.aboutme {
  position: relative;
  height: 100vh;
  /* padding-bottom: 200px; */
  /* display: flex;
  align-items: center; */
  /* padding-top: 50px; */
  /* padding-bottom: 100px; */
  /* background-color: green; */
}

.aboutme-svg {
  position: absolute;
  width: 100%;
  z-index: -1;
  top: 0;
}

.aboutme-caption {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 25px 50px;
  top: 200px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
  /* padding: 200px 0 0 0; */
}

.aboutme-caption h1.aboutme-title {
  font-size: 30px;
}

.aboutme-caption p {
  font-size: 17px;
  /* width: 70%; */
}

.aboutme-caption p span {
  color: rgba(0, 0, 0, 0.4);
}

.breaktime {
  height: 70vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.breaktime-caption {
  background-color: #4332c4;
  height: 150px;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* margin-top: 100px; */
  color: white;
}

.skill {
  /* background-color: #fff; */
  /* padding-bottom: 200px; */
  padding: 150px 0 200px 0;
}

.skill-caption h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
}

.skill-item {
  /* max-width: 150px; */
}

.skill .card {
  background-color: white;
  /* max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  position: relative; */
  height: 150px;
  padding: 5px 0;
}

/* .skill .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  z-index: 5;
  transform: skew(10deg);
} */

.skill .card .card-img {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.skill .card .card-img img {
  align-self: center;
  width: 100%;
  max-width: 100px;
}
.skill .card .card-body {
  text-align: center;
  z-index: 10;
}

.footer {
  margin-top: 25px;
  padding: 25px 0;
  background-color: #4332c4;
  color: #fff;
}

/* phone only */
@media (max-width: 599px) {
  .profile .me h1 {
    font-size: 50px;
  }

  .skill-list {
    justify-content: center;
    align-items: center;
  }
  .skill-item {
    width: 50%;
  }
  .skill-item .card {
    max-width: 150px;
  }
}

/* Tablet potrait up */
@media (max-width: 600px) {
}

/* tablet lanscape up */
@media (max-width: 900px) {
}

/* desktop up */
@media (max-width: 1200px) {
}

/* big desktop up */
@media (max-width: 1800px) {
}
